ttbsystemflow/account-password.json

    {
        "id": "c0a77008.2a0f2",
        "type": "http in",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "url": "/form/account-pwd",
        "method": "get",
        "swaggerDoc": "",
        "x": 140,
        "y": 3000,
        "wires": [
            [
                "46a2d218.f1f984"
            ]
        ]
    },
    {
        "id": "46a2d218.f1f984",
        "type": "function",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "func": "msg.values = {};\nmsg.values.ttb_name = msg.req.param(\"ttb_name\");\nmsg.values.email = msg.req.param(\"email\");\nmsg.values.pwd = msg.req.param(\"pwd\");\nmsg.values.verif = msg.req.param(\"verif\");\nmsg.filename = \"/root/certs/my-ttb.pub\"\nmsg.new_name = msg.req.param(\"new_name\").toLowerCase();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 3000,
        "wires": [
            [
                "67390810.ee0478"
            ]
        ]
    },
    {
        "id": "67390810.ee0478",
        "type": "cryptomessage",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "action": "encrypt",
        "method": "rsa",
        "target": "new_name",
        "rsa_useTTBKey": true,
        "rsa_useServerKey": false,
        "x": 460,
        "y": 3000,
        "wires": [
            [
                "47bc833b.b8437c"
            ]
        ]
    },
    {
        "id": "47bc833b.b8437c",
        "type": "file in",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "filename": "",
        "format": "utf8",
        "x": 610,
        "y": 3000,
        "wires": [
            [
                "315a7846.5c4af8"
            ]
        ]
    },
    {
        "id": "315a7846.5c4af8",
        "type": "function",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "add public key",
        "func": "msg.values.rsaKey = msg.payload;\nmsg.values.new_name = msg.new_name;\nmsg.payload = JSON.stringify(msg.values);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 3000,
        "wires": [
            [
                "8464e45f.7b9b18"
            ]
        ]
    },
    {
        "id": "8464e45f.7b9b18",
        "type": "cryptomessage",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "action": "encrypt",
        "method": "rsa",
        "target": "payload",
        "rsa_useTTBKey": false,
        "rsa_useServerKey": true,
        "x": 940,
        "y": 3000,
        "wires": [
            [
                "7e4f3a1a.092f64"
            ]
        ]
    },
    {
        "id": "7e4f3a1a.092f64",
        "type": "http request",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://mythingbox.io/api/V3/account/get",
        "x": 1110,
        "y": 3000,
        "wires": [
            [
                "46181c24.d5178c"
            ]
        ]
    },
    {
        "id": "46181c24.d5178c",
        "type": "cryptomessage",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "action": "decrypt",
        "method": "rsa",
        "target": "payload",
        "rsa_useTTBKey": false,
        "rsa_useServerKey": true,
        "x": 1280,
        "y": 3000,
        "wires": [
            [
                "be694308.2ec188"
            ]
        ]
    },
    {
        "id": "be694308.2ec188",
        "type": "function",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "extract infos",
        "func": "msg.headers = {\"Access-Control-Allow-Origin\" : \"*\"};\ntry{\n    msg.payload = JSON.parse(msg.payload);\n}catch(e){\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1450,
        "y": 3000,
        "wires": [
            [
                "c4bf80b9.b023"
            ]
        ]
    },
    {
        "id": "c4bf80b9.b023",
        "type": "http response",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "x": 1590,
        "y": 3000,
        "wires": []
    },
    {
        "id": "fdff8ca8.6c477",
        "type": "comment",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "Check account password",
        "info": "",
        "x": 150,
        "y": 2960,
        "wires": []
    }