ttbsystemflow/lang.json

    {
        "id": "7710d7ea.6624e",
        "type": "http in",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "url": "/form/lang",
        "method": "get",
        "swaggerDoc": "",
        "x": 120,
        "y": 2740,
        "wires": [
            [
                "4e07ec23.20be1c"
            ]
        ]
    },
    {
        "id": "3d11c945.6bd436",
        "type": "http response",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "x": 550,
        "y": 2740,
        "wires": []
    },
    {
        "id": "63b2e98e.87b078",
        "type": "file ejs",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "Lang",
        "filename": "/root/thethingbox/node_modules/node-red/flow/lang.ejs",
        "reloadfile": true,
        "x": 430,
        "y": 2740,
        "wires": [
            [
                "3d11c945.6bd436"
            ]
        ]
    },
    {
        "id": "33d87310.be48ac",
        "type": "comment",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "Language of the interface",
        "info": "",
        "x": 150,
        "y": 2700,
        "wires": []
    },
    {
        "id": "7ea0493.5610fb8",
        "type": "http in",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "url": "/handle/lang",
        "method": "get",
        "swaggerDoc": "",
        "x": 120,
        "y": 2800,
        "wires": [
            [
                "994f999b.7816e",
                "f0fd547a.db4b4"
            ]
        ]
    },
    {
        "id": "7b7125e.3cd645c",
        "type": "http response",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "x": 390,
        "y": 2780,
        "wires": []
    },
    {
        "id": "994f999b.7816e",
        "type": "ejs",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "",
        "ejs": "Request submitted.",
        "x": 270,
        "y": 2780,
        "wires": [
            [
                "7b7125e.3cd645c"
            ]
        ]
    },
    {
        "id": "f0fd547a.db4b4",
        "type": "function",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "parse query",
        "func": "context.global.settings.lang =  msg.payload.languages;\ncontext.global.settingslib.writeSettings(context.global.settings);",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 2820,
        "wires": [
            []
        ]
    },
    {
        "id": "4e07ec23.20be1c",
        "type": "function",
        "z": "system",
        "origin": "/root/thethingbox/node_modules/node-red/flow/flows.json",
        "name": "check.lang",
        "func": "if(typeof context.global.settings.lang === \"undefined\") {\n    msg.payload = \"auto\";\n} else {\n    msg.payload = context.global.settings.lang;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 2740,
        "wires": [
            [
                "63b2e98e.87b078"
            ]
        ]
    }